<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hn.edu.ujcv.pdm_2022_i_p3_equipo3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3">
        <activity
            android:name=".VerCivilComorbilidadActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_civil_comorbilidad"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistarCivilComorbilidadActivity"
            android:exported="false"
            android:label="@string/title_activity_registar_civil_comorbilidad"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarPaisActivity"
            android:exported="false" />
        <activity
            android:name=".VerPaisesActivity"
            android:exported="false" />
        <activity
            android:name=".VerCarnetMasDetalleActivity"
            android:exported="false"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerCarnetDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarCarnetDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".VerUnidadesActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_unidades"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarUnidadActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_unidad"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerFabricantesActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_fabricantes"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistarFabricanteActivity"
            android:exported="false"
            android:label="@string/title_activity_registar_fabricante"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerCargosActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_doctores"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarCargoActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_doctor"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerComorbilidadesActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_comorbilidades"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarComorbilidad"
            android:exported="false"
            android:label="@string/title_activity_registrar_comorbilidad"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerCentroVacunacionActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_centro_vacunacion"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerEstablecimientosActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_establecimientos"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerMunicipiosActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_municipios"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerRegionSanitariaActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_region_sanitaria"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarCentroVacActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_centro_vacunacion"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarEstablecimientoActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_establecimiento_salud"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarMunicipioActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_municipio"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarRegionSanitariaActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_region_sanitaria"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarUsuarioActivity"
            android:exported="false"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerUsuarioActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_usuario"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarCarnetActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_carnet"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerCarnetVacunacionActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_carnet_vacunacion"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarVacunaActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_vacuna"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerVacunasActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_vacunas"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarCivilActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_civil"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerCivilesActivity"
            android:exported="false"
            android:label="@string/title_activity_ver_civiles"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".RegistrarEmpleadosActivity"
            android:exported="false"
            android:label="@string/title_activity_registrar_enfermero"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".VerEmpleadosActivity"
            android:exported="false"
            android:theme="@style/Theme.PDM_2022_I_P3_EQUIPO3.NoActionBar" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>